<h1>tippy.jp(β)<%= image_pack_tag 'negi.png', size:'50x50', alt:'negi' %></h1>
<p>現在ベータ公開中です。2020年2月中旬にデータを全削除しますのでご了承ください。</p>

<hr>
<h3>Screenshot</h3>
<%= image_pack_tag 'screenshot.png', alt:'screenshot' %>
<h3 class="mt-2">What's this?</h3>
<p>
  会員登録制の短縮URL作成サービスです。<br>
  好きな文字列で短縮URLを作成でき、QRコードを表示することもできます。<br>
  マイページで作成した短縮URLの編集や削除、アクセス数の閲覧が可能です。
</p>
